html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: rgb(32, 30, 30);
    color: white;
}

.navbar{
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    background-color:#0a0a0a;
    top: 0;
    left: 0;
    padding-left: 50px;
}

.logo{
    align-self: center;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    font-size: 16px;
    color: #393434;
    list-style: none;
}

.title{
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 15px;
}

input[type=text] {
    background-color: #6f6a6a;
    color: white;
    border: 0px solid black;
    height: 25px;
}

.button {
    background-color: #6f6a6a;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 20px;
}

.field{
    margin-top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #484242;
    width: 25%;
    padding: 0 5px;
}

.larger-field{
    margin-top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #484242;
    width: 70%;
    padding: 0 5px;
}

.dict-field{
    height: 110px;
    margin-top: 10px;
    display: block;
    background-color: #484242;
    width: 70%;
    padding: 0 5px;
}

.dict-content{
    display: flex;
    padding: 5px 0;
}

.info-title{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.info-content{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

a:link{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: white;
}

a:active{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}