{% extends 'base.html' %}
{% block content %}
    <div class="title">Representatives Online</div>
        
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="button">Refresh</button>
    </form>

    <div>
        <div class="field">
            <div class="info-title">
                <b>Online</b>
            </div>
            <div class="info-content">
                {{ len }}
            </div>
        </div>
        {% for r in representatives %}
            <div class="larger-field">
                <div class="info-title">
                    <b>Representative</b> 
                </div>
                <div class="info-content">
                    {{ r }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}