{% extends 'base.html' %}
{% block content %}
    <div class="generic">
        <div class="title">Block Count</div>
            
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="button">Refresh</button>
        </form>

        <div>
            <div class="field">
                <div class="info-title">
                    <b>Block count</b> 
                </div>
                <div class="info-content">
                    {{ count }}
                </div>
            </div>
            <div class="field">
                    <div class="info-title">
                        <b>Unchecked</b> 
                    </div>
                    <div class="info-content">
                        {{ unchecked }}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}