{% extends 'base.html' %}
{% block content %}
    <div class="title">Node Version</div>

    <div>
        <div class="field">
            <div class="info-title">
                <b>Node vendor</b> 
            </div>
            <div class="info-content">
                {{ node_vendor }}
            </div>
        </div>
        <div class="field">
            <div class="info-title">
                <b>Store version</b>
            </div>
            <div class="info-content">
                {{ store_version }}
            </div>            
        </div>
        <div class="field">
            <div class="info-title">
                <b>RPC version</b>
            </div>
            <div class="info-content">
                {{ rpc_version }}
            </div>
            
        </div>
    </div>
{% endblock %}